.news {
  width: 50%;
  margin: 0 auto;
}

.article-news {
  margin: 6rem 0;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section-actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
