.news-card {
  background: $color-white;
  cursor: pointer;
  &.large.full {
    border-radius: 2rem;
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }

    .news-card__text {
      position: absolute;
      left: 2rem;
      bottom: 4rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      color: $color-white;
    }

    .news-card__title {
      font-size: 3rem;
    }

    .news-card__date {
      font-size: $default-font-size;
    }
  }
  &.medium.full {
    border-radius: 2rem;

    position: relative;
    .news-card__image img {
      width: 100%;
      object-fit: cover;
      border-radius: 2rem;
    }
    .news-card__text {
      position: absolute;
      left: 2rem;
      bottom: 4rem;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      color: $color-white;
    }

    .news-card__title {
      font-size: 2rem;
    }

    .news-card__date {
      font-size: $default-font-size;
    }
  }

  &.small.top {
    border-radius: 2rem;
    padding: 2rem;

    .news-card__image img {
      width: 100%;
      height: 40rem;
      object-fit: cover;
      border-radius: 2rem;
    }
    .news-card__text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;

      color: $color-black;
    }

    .news-card__title {
      font-size: 2rem;
    }

    .news-card__date {
      font-size: $default-font-size;
      color: $color-secondary;
    }
  }

  &__text {
  }
  &__tag {
    width: fit-content;
    border-radius: 100rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-white;
    &.Technology {
      background: $color-tech;
    }
    &.Finance {
      background: $color-finance;
    }
    &.Environment {
      background: $color-env;
    }
    &.Health {
      background: $color-health;
    }
    &.World {
      background: $color-world;
    }
    &.Energy {
      background: $color-energy;
    }
    &.Education {
      background: $color-edu;
    }
    &.Space {
      background: $color-space;
    }
  }
}
